<div class="pokedex-container" (click)="openPokedex()">
  <div class="pokedex">
    <div class="pokedex-cover" [class.open]="isOpen">
      <div class="top-section">
        <div class="camera"></div>
        <div class="indicators">
          <div class="indicator blue"></div>
          <div class="indicator red"></div>
          <div class="indicator green"></div>
        </div>
      </div>
      <div class="separator"></div>
      <div class="bottom-section">
        <div class="arrow"></div>
      </div>
    </div>
  </div>
</div>
