<div class="container-list">
  <h1>Pokedex</h1>
  <div class="pokemon-list" infiniteScroll (scrolled)="onScroll()">
    <app-pokemon-card
      *ngFor="let pokemon of pokemons$ | async"
      [pokemon]="pokemon"
    ></app-pokemon-card>
    <button
      class="retry-button"
      *ngIf="error$ | async"
      (click)="retryLoadPokemons()"
    >
      <span class="material-icons" style="vertical-align: middle">refresh</span
      >Retry
    </button>
    <div *ngIf="loading$ | async" class="loading">Loading more Pokémon...</div>
  </div>
</div>
